#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.details{
  
 min-width: 35%;
 color: gray;
 font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.todoCard {
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  border-radius: 25px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.inputContainer{
  margin-bottom: 5rem;
}
.input{
  border-radius: 50px;
  padding: 15px;
  width: 35vw;
  border-color: rgb(3, 138, 206);
  -webkit-border-radius:;
  border-width:3.5px ;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  margin-right: 15px;
}
.todoCard strong{
  width: 70%;
}
.todoCard:hover{
  scale: 1.02;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  -ms-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
button:hover{
  scale: 1.1;
}
.btnA:hover{
  background-color:#ffbf00;
  color:#1a1a1a ;

}.btnB:hover{
  background-color:#5de800;
  color: #1a1a1a;
}
.edit:hover{
  background-color: rgb(181, 181, 39);
  color: #1a1a1a;
}
.delete:hover{
  background-color: #FF0800;
}
.status-done{
  color:#5de800;
}
.status-done:hover{
  scale: 1.2;
}
.status-pending:hover{
  scale: 1.2;
}
.status-pending{
  color:#ffbf00;
}
.buttons{
display: flex;
justify-content: space-around;
align-items: center;
width: 250px;
}
.buttons button{
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  .displayNone {
    display: none !important; 

  }

  .buttons{
    width: 150px;
    
    }
    .buttons button{
      font-size: 1rem;
      padding: 5px;
      margin-top: 10px;
      font-weight: bolder;
    }
    .todoCard{
      display: flex;
      flex-direction: column;
      position: relative;
      font-size: 3.5vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .displayNone {
    display: none !important; 

  }

  .buttons{
    width: 150px;
    
    }
    .buttons button{
      font-size: 1rem;
      padding: 5px;
      margin-top: 10px;
      font-weight: bolder;
    }
    .todoCard{
      display: flex;
      flex-direction: column;
      position: relative;
      font-size: 3.5vw;
    }
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; 
  color: #fff; 
}

.navbar-left h1 {
  margin: 0;
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #1a1a1a;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar-right button:hover {
  background-color: #555; 
}
