#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}



.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.details{
  
 min-width: 35%;
 color: gray;
 font-size: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.todoCard {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;

}
.inputContainer{
  margin-bottom: 5rem;
}
.input{
  border-radius: 50px;
  padding: 15px;
  width: 35vw;
  border-color: rgb(3, 138, 206);
  -webkit-border-radius: 50px;
  border-width:3.5px ;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-right: 15px;
}
.todoCard strong{
  width: 70%;
}
/* 
.jcc {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */